In [1]:
import pandas as pd
from datetime import datetime

In [3]:
df = pd.read_excel(r'E:\Pandas\Pandas project\penda\visit_table.xlsx')

In [108]:
df

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score,date_visit,Time_visit,second_visit
0,XA-1124501,38af25ef-37a9,2022-05-22 08:51:05,Tassia,In-person Visit,Cash,NaN,2022-05-22,08:51:05,False
1,XA-1220993,15ac7a77-8153,2022-09-07 10:56:49,Tassia,In-person Visit,Cash,NaN,2022-09-07,10:56:49,False
2,XA-1079995,173f581e-c323,2022-03-24 17:17:32,Tassia,In-person Visit,Cash,NaN,2022-03-24,17:17:32,False
3,XA-1188078,c464fa34-e7f2,2022-07-27 05:54:02,Tassia,In-person Visit,Cash,NaN,2022-07-27,05:54:02,False
4,XA-1220192,7b8216fe-ff14,2022-09-06 12:28:24,Tassia,In-person Visit,Cash,NaN,2022-09-06,12:28:24,False
...,...,...,...,...,...,...,...,...,...,...
45221,XA-1205122,ba50d372-f96b,2022-08-17 16:58:33,Tassia,In-person Visit,Insurance Company A,NaN,2022-08-17,16:58:33,True
45222,XA-1249429,152641fd-57b1,2022-10-09 21:42:44,Pipeline,In-person Visit,Insurance Company A,NaN,2022-10-09,21:42:44,True
45223,XA-1148829,98a60ab5-98b6,2022-06-14 09:54:49,Embakasi,In-person Visit,Insurance Company A,NaN,2022-06-14,09:54:49,False
45224,XA-1097992,019c4de2-d1cc,2022-04-19 15:20:16,Lucky Summer,In-person Visit,Insurance Company A,NaN,2022-04-19,15:20:16,True
45225,XA-1134520,c3171212-6331,2022-06-01 14:04:32,Embakasi,In-person Visit,Insurance Company A,NaN,2022-06-01,14:04:32,True

In [6]:
#Checking the number of columns and rows
df.shape

(45226, 7)

In [9]:
#Total count per Medical center
df['MedicalCenter'].value_counts()

MedicalCenter
Tassia            11177
Pipeline           9519
Call Centre        5236
Embakasi           5168
Githurai 45        4166
Lucky Summer       3387
Kimathi Street     3349
Mathare North      3224
Name: count, dtype: int64

In [10]:
#Totalcount per Payor
df['Payor'].value_counts()

Payor
Cash                   33111
Insurance Company B     9991
Insurance Company A     2124
Name: count, dtype: int64

In [11]:
#count per VisitCategory
df['VisitCategory'].value_counts()

VisitCategory
In-person Visit       40004
Telemedicine Visit     5222
Name: count, dtype: int64

In [14]:
# check the datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45226 entries, 0 to 45225
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   VisitCode      45226 non-null  object
 1   PatientCode    45226 non-null  object
 2   VisitDateTime  45226 non-null  datetime64[ns]
 3   MedicalCenter  45226 non-null  object
 4   VisitCategory  45226 non-null  object
 5   Payor          45226 non-null  object
 6   NPS Score      1928 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 2.4+ MB

In [24]:
#split datetime to date and time 
df['date_visit']= df['VisitDateTime'].dt.date
df['Time_visit'] = df['VisitDateTime'].dt.time

In [28]:
df

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score,date_visit,Time_visit
0,XA-1124501,38af25ef-37a9,2022-05-22 08:51:05,Tassia,In-person Visit,Cash,NaN,2022-05-22,08:51:05
1,XA-1220993,15ac7a77-8153,2022-09-07 10:56:49,Tassia,In-person Visit,Cash,NaN,2022-09-07,10:56:49
2,XA-1079995,173f581e-c323,2022-03-24 17:17:32,Tassia,In-person Visit,Cash,NaN,2022-03-24,17:17:32
3,XA-1188078,c464fa34-e7f2,2022-07-27 05:54:02,Tassia,In-person Visit,Cash,NaN,2022-07-27,05:54:02
4,XA-1220192,7b8216fe-ff14,2022-09-06 12:28:24,Tassia,In-person Visit,Cash,NaN,2022-09-06,12:28:24
...,...,...,...,...,...,...,...,...,...
45221,XA-1205122,ba50d372-f96b,2022-08-17 16:58:33,Tassia,In-person Visit,Insurance Company A,NaN,2022-08-17,16:58:33
45222,XA-1249429,152641fd-57b1,2022-10-09 21:42:44,Pipeline,In-person Visit,Insurance Company A,NaN,2022-10-09,21:42:44
45223,XA-1148829,98a60ab5-98b6,2022-06-14 09:54:49,Embakasi,In-person Visit,Insurance Company A,NaN,2022-06-14,09:54:49
45224,XA-1097992,019c4de2-d1cc,2022-04-19 15:20:16,Lucky Summer,In-person Visit,Insurance Company A,NaN,2022-04-19,15:20:16
45225,XA-1134520,c3171212-6331,2022-06-01 14:04:32,Embakasi,In-person Visit,Insurance Company A,NaN,2022-06-01,14:04:32

# 1.How many visits did Kimathi Street and Pipeline medical centers have from May 2022 and September 2022?

In [88]:
#convert datetime to str
start_date = datetime.strptime('2022-05-01', '%Y-%m-%d').date()
end_date = datetime.strptime('2022-09-30', '%Y-%m-%d').date()

medical_centre = ['Pipeline','Kimathi Street']
#filtering 
filt = df[(df['date_visit']>= start_date) & (df['date_visit']<=end_date ) & (df['MedicalCenter'].isin(medical_centre))]

visit_count = filt.shape[0]

print('Total visit:',visit_count)

Total visit: 8204

In [90]:
# Convert 'VisitDateTime' to datetime format
df['date_visit'] = pd.to_datetime(df['date_visit'],format='%d/%m/%Y')

medical_centre = ['Pipeline','Kimathi Street']
#filtering 
filt = df[(df['date_visit']>= '2022-05-01') & (df['date_visit']<='2022-09-30' ) & (df['MedicalCenter'].isin(medical_centre))]

visit_count = filt.shape[0]

print('Total visit:',visit_count)

Total visit: 8204

In [30]:
filt

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score,date_visit,Time_visit
8373,XA-1107064,b6361908-3d53,2022-05-02 14:38:03,Pipeline,In-person Visit,Cash,NaN,2022-05-02,14:38:03
8374,XA-1202621,945dfcc8-dd87,2022-08-13 17:58:31,Pipeline,In-person Visit,Cash,NaN,2022-08-13,17:58:31
8375,XA-1131211,b564eb91-6f6e,2022-05-29 11:44:30,Pipeline,In-person Visit,Cash,NaN,2022-05-29,11:44:30
8376,XA-1225262,c4a1474e-f93b,2022-09-12 16:19:35,Pipeline,In-person Visit,Cash,NaN,2022-09-12,16:19:35
8377,XA-1131068,6dfb732f-9030,2022-05-28 22:52:59,Pipeline,In-person Visit,Cash,NaN,2022-05-28,22:52:59
...,...,...,...,...,...,...,...,...,...
45211,XA-1230432,1e0effeb-d46a,2022-09-18 15:35:31,Kimathi Street,In-person Visit,Insurance Company A,NaN,2022-09-18,15:35:31
45212,XA-1191734,a0acb161-fbde,2022-07-31 12:59:49,Kimathi Street,In-person Visit,Insurance Company A,NaN,2022-07-31,12:59:49
45213,XA-1222055,a3ab5070-8988,2022-09-08 14:24:02,Pipeline,In-person Visit,Insurance Company A,NaN,2022-09-08,14:24:02
45217,XA-1229315,db54a8ea-0066,2022-09-17 11:20:30,Kimathi Street,In-person Visit,Insurance Company A,NaN,2022-09-17,11:20:30
45220,XA-1177045,4d01f7bd-4772,2022-07-13 13:30:11,Kimathi Street,In-person Visit,Insurance Company A,NaN,2022-07-13,13:30:11

# 2.What was the most common diagnosis in 2022 for Tassia and Embakasi branches combined?

In [3]:
Diagnosis_df = pd.read_excel('E:\Pandas\Pandas project\penda\Diagnosis_table.xlsx')

In [68]:
Diagnosis_df

        VisitCode                     Diagnosis
0      XA-1214549                acute rhinitis
1      XA-1234446              acute bronchitis
2      XA-1160097               family planning
3      XA-1242842              acute bronchitis
4      XA-1152096  tonsillitis, acute bacterial
...           ...                           ...
21855  XA-1239193         acute nasopharyngitis
21856  XA-1078395              acute bronchitis
21857  XA-1078395         acute nasopharyngitis
21858  XA-1193666              acute bronchitis
21859  XA-1193666                     pneumonia

[21860 rows x 2 columns]

In [6]:
#merge the Diagnosis dataframe with visit dataframe on Id
merge_df= pd.merge(Diagnosis_df,df,on='VisitCode')

In [7]:
merge_df

,VisitCode,Diagnosis,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score
0,XA-1214549,acute rhinitis,2e645de1-82a7,2022-08-29 20:46:02,Tassia,In-person Visit,Insurance Company B,NaN
1,XA-1234446,acute bronchitis,37bfb09c-187f,2022-09-23 05:36:20,Tassia,In-person Visit,Cash,NaN
2,XA-1160097,family planning,c8f0be66-4273,2022-06-24 11:54:36,Tassia,In-person Visit,Cash,NaN
3,XA-1242842,acute bronchitis,269b07c7-6225,2022-10-02 14:26:54,Pipeline,In-person Visit,Insurance Company B,NaN
4,XA-1152096,"tonsillitis, acute bacterial",3c18b7d1-2c6a,2022-06-16 18:56:32,Tassia,In-person Visit,Insurance Company B,NaN
...,...,...,...,...,...,...,...,...
21855,XA-1239193,acute nasopharyngitis,0f6d7b04-4f2c,2022-09-28 10:22:38,Lucky Summer,In-person Visit,Insurance Company B,NaN
21856,XA-1078395,acute bronchitis,ef382025-0ccf,2022-03-22 16:21:46,Pipeline,In-person Visit,Insurance Company A,NaN
21857,XA-1078395,acute nasopharyngitis,ef382025-0ccf,2022-03-22 16:21:46,Pipeline,In-person Visit,Insurance Company A,NaN
21858,XA-1193666,acute bronchitis,18efca03-e588,2022-08-02 15:08:03,Embakasi,In-person Visit,Cash,10.0
21859,XA-1193666,pneumonia,18efca03-e588,2022-08-02 15:08:03,Embakasi,In-person Visit,Cash,10.0

In [12]:
#Filtering dataframe for Tassia & Embakasi and count diagnosis
locations = ['Tassia','Embakasi']
filt_df = merge_df[merge_df['MedicalCenter'].isin(locations)]
diagnosis_count = filt_df['Diagnosis'].value_counts()

In [16]:
diagnosis_count

Diagnosis
acute nasopharyngitis                  1512
tonsillitis, acute bacterial           1317
review                                  814
acute gastritis                         620
acute rhinitis                          618
acute bronchitis                        504
family planning                         474
normal pregnancy                        422
pneumonia                               418
gastroenteritis with no dehydration     362
myalgia                                 267
soft tissue injury                      236
food poisoning                          229
dermatitis                              164
migraine                                127
common cold                             111
amoebiasis                               86
acute pharyngitis, viral                 86
allergic rhinitis                        86
cystitis                                 78
acute otitis media                       77
eczema                                   66
bacterial conjunctivitis                 44
first degree burn                        41
severe pneumonia                         33
asthma, uncomplicated                    30
severe malaria                           28
diabetes mellitus type 2                 25
septic wound                             23
hypertensive urgency                     14
gingivitis                               11
Name: count, dtype: int64

In [18]:
most_common_diagnosis = diagnosis_count.idxmax()
print("Most Common Diagnosis in Tassia and Embakasi branches combined:", most_common_diagnosis)

Most Common Diagnosis in Tassia and Embakasi branches combined: acute nasopharyngitis

# 3.What payor was most profitable (in absolute numbers) for penda Health in 2022? (Assume a gross average margin of 30% per visit).

In [4]:
#Reading dataset for payor
payor_df=pd.read_excel('E:\Pandas\Pandas project\penda\invoice_table.xlsx')

In [20]:
payor_df

        VisitCode  Amount
0      XA-1193961     195
1      XA-1234414     195
2      XA-1250805     195
3      XA-1194042     195
4      XA-1187472     195
...           ...     ...
46000  XA-1146771    3076
46001  XA-1075966    1413
46002  XA-1259125    4168
46003  XA-1112248    1728
46004  XA-1158647    5471

[46005 rows x 2 columns]

In [34]:
#Merging payor dataframe with visit table = df 
merge_df = pd.merge(df,payor_df,on='VisitCode')

In [35]:
merge_df

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score,Amount
0,XA-1124501,38af25ef-37a9,2022-05-22 08:51:05,Tassia,In-person Visit,Cash,NaN,560
1,XA-1220993,15ac7a77-8153,2022-09-07 10:56:49,Tassia,In-person Visit,Cash,NaN,1600
2,XA-1079995,173f581e-c323,2022-03-24 17:17:32,Tassia,In-person Visit,Cash,NaN,2775
3,XA-1188078,c464fa34-e7f2,2022-07-27 05:54:02,Tassia,In-person Visit,Cash,NaN,1800
4,XA-1220192,7b8216fe-ff14,2022-09-06 12:28:24,Tassia,In-person Visit,Cash,NaN,1460
...,...,...,...,...,...,...,...,...
46000,XA-1249429,152641fd-57b1,2022-10-09 21:42:44,Pipeline,In-person Visit,Insurance Company A,NaN,2435
46001,XA-1148829,98a60ab5-98b6,2022-06-14 09:54:49,Embakasi,In-person Visit,Insurance Company A,NaN,1480
46002,XA-1097992,019c4de2-d1cc,2022-04-19 15:20:16,Lucky Summer,In-person Visit,Insurance Company A,NaN,1280
46003,XA-1097992,019c4de2-d1cc,2022-04-19 15:20:16,Lucky Summer,In-person Visit,Insurance Company A,NaN,1280
46004,XA-1134520,c3171212-6331,2022-06-01 14:04:32,Embakasi,In-person Visit,Insurance Company A,NaN,2943

In [48]:
#calculating the margin profit and creating profit column
merge_df['Profit'] = merge_df['Amount']*0.3
merge_df

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score,Amount,profit,Profit
0,XA-1124501,38af25ef-37a9,2022-05-22 08:51:05,Tassia,In-person Visit,Cash,NaN,560,168.0,168.0
1,XA-1220993,15ac7a77-8153,2022-09-07 10:56:49,Tassia,In-person Visit,Cash,NaN,1600,480.0,480.0
2,XA-1079995,173f581e-c323,2022-03-24 17:17:32,Tassia,In-person Visit,Cash,NaN,2775,832.5,832.5
3,XA-1188078,c464fa34-e7f2,2022-07-27 05:54:02,Tassia,In-person Visit,Cash,NaN,1800,540.0,540.0
4,XA-1220192,7b8216fe-ff14,2022-09-06 12:28:24,Tassia,In-person Visit,Cash,NaN,1460,438.0,438.0
...,...,...,...,...,...,...,...,...,...,...
46000,XA-1249429,152641fd-57b1,2022-10-09 21:42:44,Pipeline,In-person Visit,Insurance Company A,NaN,2435,730.5,730.5
46001,XA-1148829,98a60ab5-98b6,2022-06-14 09:54:49,Embakasi,In-person Visit,Insurance Company A,NaN,1480,444.0,444.0
46002,XA-1097992,019c4de2-d1cc,2022-04-19 15:20:16,Lucky Summer,In-person Visit,Insurance Company A,NaN,1280,384.0,384.0
46003,XA-1097992,019c4de2-d1cc,2022-04-19 15:20:16,Lucky Summer,In-person Visit,Insurance Company A,NaN,1280,384.0,384.0
46004,XA-1134520,c3171212-6331,2022-06-01 14:04:32,Embakasi,In-person Visit,Insurance Company A,NaN,2943,882.9,882.9

In [96]:
#Group payor and sum the profit
profit_by_payor= merge_df.groupby('Payor')['Profit'].sum()

In [97]:
profit_by_payor

Payor
Cash                   11269575.0
Insurance Company A     1667619.6
Insurance Company B    10045417.2
Name: Profit, dtype: float64

In [59]:
profitable= profit_by_payor.idxmax()
print(f"Most profit payor for Penda Health in 2022 is :{profitable}")

Most profit payor for Penda Health in 2022 is :Cash

# 4.Which medical center was the least profitable (in absolute numbers) in 2022? {Assume a gross average margin of 30% per visit}.

In [61]:
least_profitable =profit_by_payor.idxmin()

'Insurance Company A'

In [62]:
print(f"Most least profit payor for penda Health in 2022 is: {least_profitable}")

Most least profit payor for penda Health in 2022 is: Insurance Company A

# 5.What was the average spending per visit that had a diagnosis of acute gastritis?

In [85]:
#merge the table
Diagnosis_merge_df = pd.merge(merge_df,Diagnosis_df, on ='VisitCode')
Diagnosis_merge_df

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score,Amount,Profit,Diagnosis
0,XA-1188078,c464fa34-e7f2,2022-07-27 05:54:02,Tassia,In-person Visit,Cash,NaN,1800,540.0,review
1,XA-1220192,7b8216fe-ff14,2022-09-06 12:28:24,Tassia,In-person Visit,Cash,NaN,1460,438.0,acute rhinitis
2,XA-1120632,ae928861-7de6,2022-05-17 20:37:25,Tassia,In-person Visit,Cash,NaN,300,90.0,review
3,XA-1146859,758bee68-b569,2022-06-12 16:41:30,Tassia,In-person Visit,Cash,NaN,1515,454.5,"tonsillitis, acute bacterial"
4,XA-1204110,1c570cd7-0b55,2022-08-16 13:34:48,Tassia,In-person Visit,Cash,8.0,4140,1242.0,pneumonia
...,...,...,...,...,...,...,...,...,...,...
22114,XA-1089173,40fbfd06-016c,2022-04-06 19:02:31,Embakasi,In-person Visit,Insurance Company A,NaN,2725,817.5,"tonsillitis, acute bacterial"
22115,XA-1222055,a3ab5070-8988,2022-09-08 14:24:02,Pipeline,In-person Visit,Insurance Company A,NaN,2255,676.5,gastroenteritis with no dehydration
22116,XA-1147401,44c8b900-a154,2022-06-13 09:27:20,Embakasi,In-person Visit,Insurance Company A,NaN,2166,649.8,pneumonia
22117,XA-1205122,ba50d372-f96b,2022-08-17 16:58:33,Tassia,In-person Visit,Insurance Company A,NaN,2103,630.9,cystitis
22118,XA-1134520,c3171212-6331,2022-06-01 14:04:32,Embakasi,In-person Visit,Insurance Company A,NaN,2943,882.9,amoebiasis

In [94]:
#filtering data for acute gastritis and calculate the mean
acute_gastritis_df = Diagnosis_merge_df[Diagnosis_merge_df['Diagnosis']=='acute gastritis']
avg_spend = round(acute_gastritis_df['Amount'].mean(),2)
print(f"Average spending per visit that had a diagnosis of acute gastritis:{avg_spend}")

Average spending per visit that had a diagnosis of acute gastritis:2778.31

In [95]:
#All Diagnosis AVG
round(Diagnosis_merge.groupby('Diagnosis')['Amount'].mean(),2)

Diagnosis
acute bronchitis                       2378.50
acute gastritis                        2778.31
acute nasopharyngitis                  2496.74
acute otitis media                     1804.28
acute pharyngitis, viral               2238.97
acute rhinitis                         1932.06
allergic rhinitis                      2288.00
amoebiasis                             2642.78
asthma, uncomplicated                  3232.87
bacterial conjunctivitis               1627.80
common cold                            1781.25
cystitis                               2284.41
dermatitis                             1758.32
diabetes mellitus type 2               2550.20
eczema                                 1573.60
family planning                         504.66
first degree burn                      1298.87
food poisoning                         2328.17
gastroenteritis with no dehydration    1888.81
gingivitis                             1690.94
hypertensive urgency                   2594.22
migraine                               1992.21
myalgia                                2289.84
normal pregnancy                       1490.24
pneumonia                              2459.58
review                                  393.63
septic wound                           1635.89
severe malaria                         3018.18
severe pneumonia                       1455.09
soft tissue injury                     1249.13
tonsillitis, acute bacterial           2358.86
Name: Amount, dtype: float64

# 6.At penda Health, we have a blended healthcare model where patients can get treatment physically (by visiting a medical centers) or virtually (through our call center). In 2022, how many unique patients experienced a blended healthcare approach in their healthcare journey?

In [15]:
df

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score
0,XA-1124501,38af25ef-37a9,2022-05-22 08:51:05,Tassia,In-person Visit,Cash,NaN
1,XA-1220993,15ac7a77-8153,2022-09-07 10:56:49,Tassia,In-person Visit,Cash,NaN
2,XA-1079995,173f581e-c323,2022-03-24 17:17:32,Tassia,In-person Visit,Cash,NaN
3,XA-1188078,c464fa34-e7f2,2022-07-27 05:54:02,Tassia,In-person Visit,Cash,NaN
4,XA-1220192,7b8216fe-ff14,2022-09-06 12:28:24,Tassia,In-person Visit,Cash,NaN
...,...,...,...,...,...,...,...
45221,XA-1205122,ba50d372-f96b,2022-08-17 16:58:33,Tassia,In-person Visit,Insurance Company A,NaN
45222,XA-1249429,152641fd-57b1,2022-10-09 21:42:44,Pipeline,In-person Visit,Insurance Company A,NaN
45223,XA-1148829,98a60ab5-98b6,2022-06-14 09:54:49,Embakasi,In-person Visit,Insurance Company A,NaN
45224,XA-1097992,019c4de2-d1cc,2022-04-19 15:20:16,Lucky Summer,In-person Visit,Insurance Company A,NaN
45225,XA-1134520,c3171212-6331,2022-06-01 14:04:32,Embakasi,In-person Visit,Insurance Company A,NaN

In [18]:
#Finding a unique patients 
blend_patients = df['PatientCode'].unique()

In [20]:
#Calculating total count for unique patients
total_num = len(blend_patients)
print(f"The total unique patients experienced a blended healthcare approach:{total_num}")

The total unique patients experienced a blended healthcare approach:28416

# 7.Calculate the Net Promoter Score (NPS) in Q3 2022. (Please note that valid NPS scores range from 0 to 10).

In [80]:
df['VisitDateTime'] = pd.to_datetime(df['VisitDateTime'], format='%d/%m/%Y %H:%M')
q3_data = df[(df['VisitDateTime'] >= '2022-07-01') & (df['VisitDateTime'] <= '2022-09-30')]
q3_data

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score,date_visit,Time_visit
1,XA-1220993,15ac7a77-8153,2022-09-07 10:56:49,Tassia,In-person Visit,Cash,NaN,2022-09-07,10:56:49
3,XA-1188078,c464fa34-e7f2,2022-07-27 05:54:02,Tassia,In-person Visit,Cash,NaN,2022-07-27,05:54:02
4,XA-1220192,7b8216fe-ff14,2022-09-06 12:28:24,Tassia,In-person Visit,Cash,NaN,2022-09-06,12:28:24
6,XA-1222176,7d456b69-494d,2022-09-08 16:57:00,Tassia,In-person Visit,Cash,9.0,2022-09-08,16:57:00
8,XA-1231062,23fcee1f-9b86,2022-09-19 11:58:57,Tassia,In-person Visit,Cash,NaN,2022-09-19,11:58:57
...,...,...,...,...,...,...,...,...,...
45213,XA-1222055,a3ab5070-8988,2022-09-08 14:24:02,Pipeline,In-person Visit,Insurance Company A,NaN,2022-09-08,14:24:02
45217,XA-1229315,db54a8ea-0066,2022-09-17 11:20:30,Kimathi Street,In-person Visit,Insurance Company A,NaN,2022-09-17,11:20:30
45218,XA-1235587,d72cb5d6-124e,2022-09-24 11:20:20,Embakasi,In-person Visit,Insurance Company A,NaN,2022-09-24,11:20:20
45220,XA-1177045,4d01f7bd-4772,2022-07-13 13:30:11,Kimathi Street,In-person Visit,Insurance Company A,NaN,2022-07-13,13:30:11
45221,XA-1205122,ba50d372-f96b,2022-08-17 16:58:33,Tassia,In-person Visit,Insurance Company A,NaN,2022-08-17,16:58:33

In [81]:
# Calculate NPS for Q3 2022
promoters = q3_data[q3_data['NPS Score'] >= 9].shape[0]
detractors = q3_data[q3_data['NPS Score']<= 6].shape[0]

In [82]:
# Calculate NPS score
nps_score = (promoters - detractors) / q3_data.shape[0] * 100

In [84]:
print(f"The Net Promote Score (NPS) is :{nps_score:.2f}")

The Net Promote Score (NPS) is :3.32

# 8.In 2022 what proportion of visits in Penda Health were second visits? (A first visit is when a patient visits penda Health for the very first time, a second visit is when the same patient visit again I.e. a second time and so on)

In [ ]:
# Convert 'VisitDateTime' column to datetime format
df['VisitDateTime'] = pd.to_datetime(df['VisitDateTime'], format= '%d/%m/%Y %H:%M')

In [92]:
# Sort the DataFrame by 'VisitDateTime' for each patient
df.sort_value(['PatientCode','VisitDateTime'],inplace=True)

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score,date_visit,Time_visit
879,XA-1137051,000691a9-dc22,2022-06-04 08:31:54,Tassia,In-person Visit,Cash,NaN,2022-06-04,08:31:54
44377,XA-1062968,0006f3bf-6789,2022-03-03 19:39:17,Pipeline,In-person Visit,Insurance Company A,NaN,2022-03-03,19:39:17
18702,XA-1094626,00073e0c-8a3a,2022-04-14 13:13:59,Githurai 45,In-person Visit,Cash,NaN,2022-04-14,13:13:59
1849,XA-1247815,00090748-98be,2022-10-08 08:58:24,Tassia,In-person Visit,Cash,NaN,2022-10-08,08:58:24
30269,XA-1230748,000ba2bf-6955,2022-09-18 22:01:20,Call Centre,Telemedicine Visit,Cash,9.0,2022-09-18,22:01:20
...,...,...,...,...,...,...,...,...,...
24088,XA-1062852,fff3afc9-fc31,2022-03-03 18:03:48,Kimathi Street,In-person Visit,Cash,NaN,2022-03-03,18:03:48
23739,XA-1066972,fff3afc9-fc31,2022-03-08 14:42:54,Kimathi Street,In-person Visit,Cash,NaN,2022-03-08,14:42:54
25624,XA-1068080,fff3afc9-fc31,2022-03-09 17:51:44,Kimathi Street,In-person Visit,Cash,NaN,2022-03-09,17:51:44
24317,XA-1071895,fff3afc9-fc31,2022-03-14 17:14:33,Kimathi Street,In-person Visit,Cash,NaN,2022-03-14,17:14:33
29440,XA-1194026,fff60673-ba9c,2022-08-02 20:43:49,Call Centre,Telemedicine Visit,Cash,NaN,2022-08-02,20:43:49

In [93]:
# Identify the second visits
df['second_visit'] = df.duplicated('PatientCode')

In [94]:
df

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score,date_visit,Time_visit,second_visit
0,XA-1124501,38af25ef-37a9,2022-05-22 08:51:05,Tassia,In-person Visit,Cash,NaN,2022-05-22,08:51:05,False
1,XA-1220993,15ac7a77-8153,2022-09-07 10:56:49,Tassia,In-person Visit,Cash,NaN,2022-09-07,10:56:49,False
2,XA-1079995,173f581e-c323,2022-03-24 17:17:32,Tassia,In-person Visit,Cash,NaN,2022-03-24,17:17:32,False
3,XA-1188078,c464fa34-e7f2,2022-07-27 05:54:02,Tassia,In-person Visit,Cash,NaN,2022-07-27,05:54:02,False
4,XA-1220192,7b8216fe-ff14,2022-09-06 12:28:24,Tassia,In-person Visit,Cash,NaN,2022-09-06,12:28:24,False
...,...,...,...,...,...,...,...,...,...,...
45221,XA-1205122,ba50d372-f96b,2022-08-17 16:58:33,Tassia,In-person Visit,Insurance Company A,NaN,2022-08-17,16:58:33,True
45222,XA-1249429,152641fd-57b1,2022-10-09 21:42:44,Pipeline,In-person Visit,Insurance Company A,NaN,2022-10-09,21:42:44,True
45223,XA-1148829,98a60ab5-98b6,2022-06-14 09:54:49,Embakasi,In-person Visit,Insurance Company A,NaN,2022-06-14,09:54:49,False
45224,XA-1097992,019c4de2-d1cc,2022-04-19 15:20:16,Lucky Summer,In-person Visit,Insurance Company A,NaN,2022-04-19,15:20:16,True
45225,XA-1134520,c3171212-6331,2022-06-01 14:04:32,Embakasi,In-person Visit,Insurance Company A,NaN,2022-06-01,14:04:32,True

In [98]:
# Calculate the proportion of second visits
pro_second_visit = df['second_visit'].sum()/len(df)
print(f"Proportion of second visits in Penda Health:{pro_second_visit:.2f}")

Proportion of second visits in Penda Health:0.37

# 9.What percent of visit in April 2022 happened within 30 days of the preceding visit by the same patient?

In [16]:
df['TimeDifference'] = df.groupby('PatientCode')['VisitDateTime'].diff()

# Identify visits in April 2022
april_visits = df[(df['VisitDateTime'].dt.month == 4)]

# Identify visits within 30 days of the preceding visit
within_30_days = april_visits['TimeDifference'] <= pd.Timedelta(days=30)

# Calculate the percentage of visits within 30 days
percent_within_30_days = round(within_30_days.sum() / len(april_visits),2) * 100
print(f"Percent of visit in April 2022 happened within 30 days of the preceding visit by the same patient is:{percent_within_30_days}")

Percent of visit in April 2022 happened within 30 days of the preceding visit by the same patient is:36.0